<button class="navbar-toggler" 
 type="button" 
 aria-controls="navbarNavDropdown" 
 x-bind="toggle"
 aria-haspopup="true"
 x-ref="navbartoggler">
    <span class="navbar-toggler-icon">
        <i x-show="!toggleNavbar" class="far fa-bars"></i>
        <i x-show="toggleNavbar" class="far fa-xmark"></i>
    </span>
    Menu
</button>