<button class="btn-scroll-top" 
aria-hidden="true" 
tabindex="-1" 
@click="$scroll(document.body)"
x-ref="scrollTop">
    <i class="far fa-arrow-up"></i>
    <span class="hidden md:block">Back to Top</span>
</button>