<div class="date-outer {{ 'section max-w-none' if not isInner }}">
{% if data.options.hideTitle.value == false %} 
        <h2 class="{{ 'text-white' if data.options.isWhite.value }}
              relative
            {{ 'text-center' if data.options.centerTitle.value }}">
            {{ data.fields.title.value | safe }}
        </h2>
 {% endif %} 
<div class="date-wrapper 
    {{ 'date-wrapper--stack' if data.options.layout.value == 'stack' }} 
    {{ 'date-wrapper--horizontal' if data.options.layout.value == 'horizontal' }} 
    {{ data.options.customClass.value }}">

    {% for item in data.fields.items.value %}
        <div class="date 
        {{ 'date--card card' if 
                            (data.options.theme.value == 'card')
                            or (data.options.theme.value == 'card--fill')
                            or (data.options.theme.value == 'card--outline') }}
        {{ 'white' if data.options.isWhite.value }}
        {{ 'date--card--fill card--fill' if data.options.theme.value == 'card--fill' }}
        {{ 'date--card--outline card--outline' if data.options.theme.value == 'card--outline' }}
        ">
            <div class="date-content-wrapper 
            {{ 'card-wrapper' if (data.options.theme.value == 'card')
                            or (data.options.theme.value == 'card--fill')
                            or (data.options.theme.value == 'card--outline') }}">

                <h4 class="date-string {{ 'past' if item.fields.isPast.value }}">
                {% if item.fields.customDate.value %}
                    {{ item.fields.customDate.value | safe }}
                {% else %}
                    {{ item.fields.date.value.datetime | prettyDate }}
                {% endif %}
                </h4>
              
                <div class="date-title {{ 'past' if item.fields.isPast.value }}">
                {{ item.fields.title.value | safe }}
                </div>
              
                {% if item.fields.disclaimer.value %}
                <p class="date-desc {{ 'past' if item.fields.isPast.value }}">
                {{ item.fields.disclaimer.value | safe }}
                </p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
</div>